* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #C5BEA9;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #C5BEA9;
}

::-webkit-scrollbar-thumb {
  background: #344E41;
  border-radius: 10px;
}